# Copyright (c) 2023 Epam Systems
# SPDX-License-Identifier: Apache-2.0

menuconfig TEE
	bool "Trusted Environment Drivers"
	depends on ARM || ARM64 || RISCV || ZTEST
	help
	  Include TEE drivers in system config

if TEE

module = TEE
module-str = tee

comment "Device Drivers"

source "drivers/tee/optee/Kconfig"

endif # TEE
